<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LFG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item nav-link mx3"><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
      <% else %>
         <li class="nav-item nav-link mx3"><%= link_to "Login", "", data: {toggle: "modal", target: ".bd-example-modal-lg"} %></li>
         <li class="nav-item nav-link mx3"><%= link_to "Sign Up", new_user_registration_path%></li>
      <% end %>
    
    </ul>
  </div>
</nav>

<%= render 'shared/login_form' %>